# Copy this file to .env and fill values
DISCORD_TOKEN=replace_with_new_token
BOT_PREFIX=$

# Audio capture config
# Linux/Raspberry Pi options: pulse, alsa
AUDIO_BACKEND=pulse
AUDIO_INPUT_DEVICE=discord_sink.monitor
AUDIO_GAIN=2.0

# Path to ffmpeg executable
FFMPEG_PATH=ffmpeg
